<div class="grid__image">
  {% render 'responsive-image', desktopImage: block.settings.category_image, class: 'media__image' %}
  <div class="anchor__wrapper">
    <a href="{{ block.settings.anchor_link }}">
      {{ block.settings.anchor_title }}
    </a>
  </div>
</div>
