.hotspot {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hotspot__position {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.hotspot__content {
  opacity: 0;
  z-index: -1;
  padding: 0.7rem 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  transition: opacity 0.5s ease;
}
.hotspot__content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 2rem solid rgba(255, 255, 255, 1);
}
.hotspot__position:hover + .hotspot__content {
  opacity: 1;
  z-index: 1;
}
.hotspot__dot {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5), 0 0 0 10px rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
}
.hotspot__position:hover > .hotspot__dot {
  box-shadow: none;
}
.hotspot__image {
  width: 7.2rem;
  height: 8.6rem;
  object-fit: cover;
}
.hotspot__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4em;
  color: rgba(52, 52, 52, 1);
  text-align: center;
  margin-top: 1rem;
}
.hotspot__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 749px) {
  .hotspot__content {
    padding: 1.8rem 1.3rem 1rem;
  }
  .hotspot__image {
    width: 19rem;
    height: 22.6rem;
  }
  .hotspot__title {
    font-size: 1.6rem;
  }
}